body {
    font-size: 1.15rem;
    font-family: "Lucida Console", Courier, monospace;
}
section.container {
    background-color: white;
    padding: 2rem 1rem;
}
img {
    width: 20rem;
}
.center {
    text-align: center;
}
a.center {
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    font-style: italic;
}

a::after {
    content: "  \00bb"; /* little arrow after each link */
}
a:visited {
    color: blue;
}

.recipe {
    padding: 2rem;
    background-color: #fdffde;
    font-family: "Bradley Hand", cursive, sans-serif;
    border-radius: 2rem;
    margin: 2rem 2rem;
}

body.winner {
    background-size: 20rem;
    background-image: url("../img/lasagna.png");
    background-repeat: repeat;
}